footer {
    background-image: url(/Assets/img/Background_Contacts.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.footertcc{
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
}   


.footertcc p:nth-child(1) {
    padding-bottom: 8px;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    color: #BB72E9;

}

.footertcc h2  {
    padding-bottom: 8px;
    font-family: "Maven Pro", sans-serif;
    font-size: 24px;
    color: var(--gray-600);
}

.footertcc p:nth-child(3) {
    padding-bottom: 8px;
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    color: var(--gray-500)

}


.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 180px;
 
}



.link2 {
    display: flex;
    align-items: center;
    background-color: var(--gray-300);
    width: 400px;
    height: 68px;
    border-radius: 8px;

    
 
}

.link2 img:nth-child(1) {
    padding-left: 20px;
    
  
}



.link2 p {
    padding-left: 12px;
    padding-right: 52px;
    align-items: center;

}

.link2 p1 {
    padding-left: 12px;
    padding-right: 65px;
    align-items: center;

}


.link2 p2 {
    padding-left: 12px;
    padding-right: 75px;
    align-items: center;

}

.link2 img:nth-child(3) {
    padding-left: 185px;
    
    
  
}

.link2:hover{
    border: solid 1px var(--blue);
}

.link2 img:nth-child(1):hover {
    filter: invert(72%) sepia(68%) saturate(4790%) hue-rotate(181deg) brightness(91%) contrast(87%);
}

.link2 p {
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    color: var(--gray-500);

}

.link2 p1 {
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    color: var(--gray-500);

}

.link2 p2 {
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    color: var(--gray-500);

}







